// font family
@font-family-glyphicons: "Glyphicons Halflings";

// font size variables
@font-size-XXXL: 32px;
@font-size-XXL: 28px;
@font-size-XL: 24px;
@font-size-L: 20px;
@font-size-M: 16px;
@font-size-M-K2: 15px;
@font-size-S: 14px;
@font-size-S-K2: 13px;
@font-size-XS: 12px;
@font-size-XS-K2: 11px;
@font-size-XXS: 10px;

// color varibles
